* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;

}

/* ============================================================================================================================>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* =========================================================Shared Style=================================================>> */
.flex {
    display: flex;
}

.checked {
    color: orange;
}

/* ============================================================================================================================>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
    width: calc(100vw - 240px);
    margin: 0 auto;
    margin-top: 87px;
}

/* ==========================================================Navigation Menu Design Start============>>>>>> */
nav .menu-icon {
    display: none;
}

nav {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav h3 {
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 0px 30px;
    padding: 4px 8px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
}

/* ==========================================================Banner Design Start============>>>>>> */

.banner {
    margin: 50px auto;
    align-items: center;
    justify-content: space-around;
}

.banner .left h1 {
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
}

.banner .left p{
    width: 60%;
}

.banner .left button {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    margin-top: 20px;

}

.banner .right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding: 30px;
}

.banner .right img {
    margin: 0 auto;
}

/* ==========================================================client-section Design Start============>>>>>> */

.client-section {
    width: calc(100vw - 380px);
    margin: 0 auto;
    position: relative;


}

.client-section .service {
    display: flex;
    justify-content: space-evenly;
    padding: 36px 0px;


}

.client-section ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(135deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

.client-section ::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(135deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

/* ===================================================popular-collection Section Design Start=============================================>>>>>>>>> */

.popular-collection {
    width: calc(100vw - 390px);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular-collection>h3 {
    color: rgb(58, 58, 58);
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    padding: 17px 15px;
    flex-direction: column;
    gap: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);

}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card .title {
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
}

.card .price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.card p {
    color: rgb(120, 120, 133);
    font-size: 14px;
    font-weight: 700;
    width: 60%;
    margin-bottom: 30px;
}

.rating-box .rate {
    color: rgb(120, 120, 133);
    margin-left: 10px;

}

.popular-collection .more {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 24px;


}

.popular-collection .more button {
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;


}




/* ===================================================feature Peoducr Section Design Start=============================================>>>>>>>>> */

.feature-product {
    width: calc(100vw - 390px);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

.cover-content {
    flex-direction: column;
    gap: 16px;
}

.cover-content h3 {
    color: rgb(10, 8, 38);
    font-size: 2.40rem;
    font-weight: 700;
    
}

.cover-content p {
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 700;
    padding-right: 50%;
}

.cover-content button {
    width: fit-content;
    background: rgb(224, 44, 109);
    color: white;
    padding: 10px 24px;
    border: none;
    font-size: 1rem;
    font-weight: 700;

}

/* ===================================================Footer Section Design Start=============================================>>>>>>>>> */

footer {
    background-color: rgb(10, 8, 38);
    color: white;
    text-align: center;
    padding: 50px 0px;
    margin-top: 50px;
}

footer h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

footer p{
    font-size: 0.9rem;
    font-weight: 700;
}

footer .social{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.social i{
    font-size: 1.5rem;
}
/* ================================================================================================================================================== */
/* ================================================================================================================================================== */
/* ================================================================================================================================================== */














@media screen and (max-width:600px) {
    header {
        width: calc(100vw - 40px);
        margin: 0 auto;
        margin-top: 20px;
    }



    /* ==========================================================Navigation Menu Design Start============>>>>>> */
    nav .menu-icon {
        display: block;
    }

    nav h3 {
        font-size: 1.25rem;
    }

    #menuList {
        display: none;

    }

    nav {
        flex-direction: row-reverse;
    }

    /* ==========================================================Banner Design Start============>>>>>> */


    .banner {
        margin: 50px auto 20px;
        flex-direction: column-reverse;
        
    }

    .banner .left{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .banner .left h1 {
        font-size: 2rem;
    }
    .banner .left p{
        width: 100%;
    }

    .banner .right {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .banner .right img {
        width: 100%;
    }

    


    /* ==========================================================client-section Design Start============>>>>>> */

    .client-section {
        width: calc(100vw - 80px);


    }

    .client-section .service {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding:0px;


    }



    .client-section .service img {
        width: 16%;

    }


    .client-section ::after {
        display: none;
    }

    .client-section ::before {
        display: none;
    }

    /* ===================================================popular-collection Section Design Start=============================================>>>>>>>>> */




    .popular-collection {
        width: calc(100vw - 20px);
        margin: 50px auto;

    }

  

    .popular-collection>h3 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 50px;
       
    }
    

    .shop {

        grid-template-columns: repeat(1, 1fr);

    }

    /* ===================================================feature Peoducr Section Design Start=============================================>>>>>>>>> */

    .feature-product {
        width: calc(100vw - 20px);
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
    }

    .cover-content p {
        padding: 0px;
    }

    .cover-content button {
        margin: 0 auto;

    }

    .cover-photo img {
        width: 100%;
    }









}











/* ============================================Tab Media Design Start ===============================================================>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width:600px) and (max-width:992px) {

    .popular-collection {
        width: calc(100vw - 100px);

    }

    .shop {

        grid-template-columns: repeat(2, 1fr);

    }



}